



body{
    background-color: #042c5a;
   
}

h1{
    
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


button{
    background-color: transparent;
    border: none;
}


.container{
    background-color: #000f21;
    color: aliceblue;
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 90%;
    
}


.container>div{
    
    width: 100%;
}


.card {
        position: relative;
        clear: both;
        text-align: center;
        box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
          inset -5px -5px 15px rgba(255, 255, 255, 0.1),
          5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
        border-radius: 15px;
        margin: 30px;
       

}



.componente{
    float: left;
    width: 45%;
    cursor: move;
    text-align: center;
}

.componente:hover{
    background-color: #2f4053;
}

.componente>input{
    text-align: center;
    background-color: transparent;
    border: none;
}

.glyphicon-shopping-cart{
    font-size: 300%;
}


#total{
    text-align: center;
    background-color: transparent;
    border: none;
}